@model List<UserInRoleViewModel>
@{
    ViewData["Title"] = "AddOrRemoveUsers";
    var RoleId = ViewData["RoleId"];
}

<h1>Add Or Remove Users</h1>
<form asp-action="AddOrRemoveUsers" asp-route-roleId="@RoleId">
    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="form-check">
            <input type="checkbox" asp-for="@Model[i].IsSelected" />
            <label asp-for="@Model[i].UserName">@Model[i].UserName</label>
        </div>
        <input type="hidden" asp-for="@Model[i].UserId" />
        <input type="hidden" asp-for="@Model[i].UserName" />
    } 
    </div>
    <input type="submit" value="Update" class="btn btn-success" />
    <a asp-action="Index" asp-controller="Role" asp-route-id="@RoleId" class="btn btn-light">Cancel</a>
</form>

